.gameDisplay{
    width: 250px;
    height: 300px;
    border: thin solid gray;
    margin: 5px;
    padding: 2px;
    display: inline-block;
    text-align: center;
}

.gameDisplay img{
    width: 100%;

}

.gameDisplay span{
    
}
